body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.container {
  text-align: center;
  padding: 80px;
}

h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  color: white;
  text-align: center;
  font: message-box;
}

p {
  font-size: 18px;
  color: white;
}

ul {
  text-align: center; /* Center align the list items */
  padding-left: 0; /* Remove default left padding */
}

li {
  list-style: none; /* Remove the default bullet points */
  margin-bottom: 10px; /* Add spacing between list items */
}

